<div class="grid_16" id="slider">
	<ul>
		<li>
			<div id="slider_content" class="grid_6 alpha">
				<a href="../images/site/portfolio/port_cursos_360.png" rel="lytebox" title="Real Cursos!">
					<%= image_tag("../images/site/portfolio/port_cursos_360.png") %>
				</a>
			</div>

			<div id="description" class="grid_5 omega">
				<h1>Real Cursos</h1>

				<p>
					<a href="http://www.cursos.realintercambio.com" target="_blank">cursos.realintercambio.com</a>
				</p>

				<p>
					<b>descri&ccedil;&atilde;o: </b> Sistema online de or&ccedil;amento de interc&acirc;mbios e de cursos no exterior. Atrav&eacute;s de um passo-a-passo &eacute; poss&iacute;vel escolher detalhes da viagem de forma muito rápida.<br />
					<b>caracter&iacute;sticas: </b> O design foi simplificado com foco no público final, que nada ou muito pouco entendia de intercâmbio. Todos os or&ccedil;amentos s&atilde;o enviados para um sistema administrativo e podem ser resgatados com o c&oacute;digo fornecido ao final das etapas. No sistema interno pode-se consultar os or&ccedil;amentos com todos os dados inseridos.
				</p>
			</div>
		</li>

		<li>
			<div id="slider_content" class="grid_6 alpha">
				<a href="../images/site/portfolio/port_real_360.png" rel="lytebox" title="Real Interc&acirc;mbio">
					<%= image_tag("../images/site/portfolio/port_real_360.png") %>
				</a>
			</div>

			<div id="description" class="grid_5 omega">
				<h1>Real Interc&acirc;mbio</h1>

				<p>
					<a href="http://realintercambio.com" target="_blank">realintercambio.com</a>
				</p>

				<p>
					<b>descrição: </b> Site institucional da agência<br />
					<b>características: </b> Design inovador e claro. Sistema interno para controle de conteúdo com otimização para mecanismos de busca, comunicãção integrada com o sistema de gerenciamento da agência, pacotes turísticos podendo ser agendados para exibição no futuro, atendimento on-line ativo.
				</p>
			</div>
		</li>

		<li>
			<div id="slider_content" class="grid_6 alpha">
				<a href="../images/site/portfolio/port_flux_360.png" rel="lytebox" title="Flux!">
					<%= image_tag("../images/site/portfolio/port_flux_360.png") %>
				</a>
			</div>

			<div id="description" class="grid_5 omega">
				<h1>Flux!</h1>

				<p>
					<a href="http://flux.fande.com.br" target="_blank">flux.fande.com.br</a>
				</p>

				<p>
					<b>descrição: </b>Gerenciador de trabalhos e aprova&ccedil;&atilde;o de pe&ccedil;as gr&aacute;ficas.<br />
					<b>características: </b> Gerenciador de clientes e de pauta. Conta com atualiza&ccedil;&atilde;o autom&aacute;tica para monitoramento de atividades em tempo real. Permiss&otilde;es de acesso para usu&aacute;rios distintos. Registro de hist&oacute;rico com nome do usu&aacute;rio e data.
				</p>
			</div>
		</li>

		<li>
			<div id="slider_content" class="grid_6 alpha">
				<a href="../images/site/portfolio/port_sparo_360.png" rel="lytebox" title="Sparo Fotografia">
					<%= image_tag("../images/site/portfolio/port_sparo_360.png") %>
				</a>
			</div>

			<div id="description" class="grid_5 omega">
				<h1>Sparo Fotografia</h1>

				<p>
					<a href="http://sparo.com.br" target="_blank">sparo.com.br</a>
				</p>

				<p>
					<b>descrição: </b> Site de est&uacute;dio fotogr&aacute;fico com acesso a &aacute;reas de clientes e &aacute;lbuns.<br />
					<b>características: </b> Sistema de gerenciamento de portf&oacute;lio, de clientes e de eventos. Agendamento de eventos pelo site. Descompactador de pacotes com registro autom&aacute;tico no banco de dados.
				</p>
			</div>
		</li>
	</ul>
</div>

<div id="arrows">
	<script type="text/javascript">
		$(document).ready(function(){
			$("#slider").easySlider({
				prevText:'<%= image_tag("../images/site/portfolio/arrow_left.png") %>',
				nextText:'<%= image_tag("../images/site/portfolio/arrow_right.png") %>',
				orientation: 'horizontal'
			});
		});
	</script>
</div>
