<div id="tabs">
	<ul>
		<% [['about'], ['portfolio'], ['team']].each do |tab|  %>
		<li 
			<%= ' class="current"' if ( controller.action_name == tab[0].to_s and controller.action_name !=  'portfolio' )%>>
			<a href="/site/<%= tab[0] %>">
				<img src="/images/site/tabs/<%= tab[0] %><%= '_up' if controller.action_name == tab[0].to_s %>.png" align="absmiddle"/> <%= tab[1] %>
			</a>
		</li>
		<% end %>
	</ul>
</div>
